/* 슬라이드 */
.visual img {
  width: 100%;
}
.visual .controls {
  position: absolute;
  left: 50%;
  z-index: 30;
  padding: 0 32px;
  transform: translateX(-50%);
  bottom: 25px;
}
.visual .controls > button {
  position: absolute;
  top: 0;
  width: 15px;
  height: 25px;
  cursor: pointer;
}
.visual .controls > button.prev {
  left: 0;
  background: url(../images/sBtn_prev3.png);
}
.visual .controls > button.next {
  right: 0;
  background: url(../images/sBtn_next3.png);
}
.visual .paging {
  line-height: 25px;
}
.visual .paging span {
  margin: 0 5px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #d9d9d9;
}
.visual .paging span.swiper-pagination-bullet-active {
  background: #288bcc;
  width: 30px;
  border-radius: 14px;
  transition: all 0.5s;
}
/* 콘텐츠 공통디자인 */
/* block : 금융서비스 공통부분 */
.block > div {
  margin: 0 auto;
  padding: 100px 0 0;
  width: 1200px;
}
.block .tit {
  text-align: center;
}
.block .tit h2 {
  padding: 0 0 28px;
  font-size: 38px;
  color: #333;
  /* 줄간격 초기화 */
  line-height: 1;
}
.block .tit p {
  font-size: 21px;
  color: #666;
  line-height: 1;
  padding: 0 0 40px;
}
/* 금융 서비스 */
.service {
  padding: 0 0 147px;
}
.service .banner > div {
  width: 580px;
  color: #fff;
}
.service .banner .left {
  float: left;
  background: url(../images/add1.jpg) no-repeat left top;
}
.service .banner .left div {
  float: right;
  background: linear-gradient(to right, #3194d5, #4fb2f6);
}
.service .banner .right {
  float: right;
  background: url(../images/add2.jpg) no-repeat right top;
}
.service .banner .right div {
  background: linear-gradient(to right, #334da4, #3c62b3);
}
.service .banner div div {
  padding: 37px 0 0;
  width: 290px;
  height: 280px;
  box-sizing: border-box;
  text-align: center;
}
.service .banner h3 {
  font-size: 24px;
  line-height: 31px;
}
.service .banner p {
  padding: 12px 0 15px;
  font-size: 13px;
  line-height: 24px;
}
.service .banner a {
  display: block;
  margin: 0 auto;
  width: 140px;
  /* 모서리부분을 정사각혁을로 그렸을때의 px길이 */
  border-radius: 7px;
  line-height: 40px;
  color: #fff;
  background: #064ca2;
  font-size: 13px;
}
.service .btm article {
  position: relative;
  margin: 38px 0 0;
  width: 580px;
}
.service .btm h3 {
  padding: 0 0 28px;
  font-size: 26px;
  color: #333;
}
.service .event {
  float: left;
}
.service .recom {
  float: right;
}
.service .event img {
  width: 100%;
}
.service .card_info > div {
  float: left;
}
.service .card_info .card {
  position: relative;
  font-size: 0;
}
.service .card_info .info {
  padding: 0 0 0 35px;
  width: 295px;
}
.service .card_info .info h4 {
  font-size: 26px;
  color: #333;
  line-height: 1;
}
.service .card_info .info p {
  position: relative;
  padding: 36px 0 0;
  font-size: 18px;
  color: #666;
  letter-spacing: -0.5px;
}
.service .card_info .info p:before {
  content: "";
  position: absolute;
  left: 0;
  top: 21px;
  width: 36px;
  height: 2px;
  background: #288bcc;
}
.service .slide2 {
  border-top: 2px solid #333;
  padding: 20px 0 0;
  height: 224px;
  box-sizing: border-box;
}
.service .slide2 .control {
  position: absolute;
  left: 256px;
  bottom: 0;
  z-index: 100;
}
.service .slide2 .control button {
  width: 75px;
  height: 35px;
  cursor: pointer;
}
.service .slide2 .control button ~ button {
  border-left: 1px solid #ddd;
}
.service .slide2 .control button.prev {
  background: url(../images/sArrow_prev.png) no-repeat center;
}
.service .slide2 .control button.next {
  background: url(../images/sArrow_next.png) no-repeat center;
}
/* 관심정보 */
.fav_info {
  background: #f9f9f9;
  padding: 0 0 100px;
}
.fav_info .left {
  width: 385px;
  float: left;
}
.fav_info .left > a {
  display: block;
  height: 66px;
  background: #3f69b8;
  border-radius: 5px;
  font-size: 19px;
  color: #fff;
  font-weight: bold;
  line-height: 66px;
  text-align: center;
}
.fav_info .left > a span {
  color: #ffc820;
}
.fav_info .left .thoumb {
  padding: 30px 0 0;
}
.fav_info .left .thoumb img {
  width: 100%;
}
.fav_info .left .thoumb p {
  position: relative;
  padding: 33px 0 22px;
  margin: 0 0 20px;
  font-size: 15px;
  color: #288cf2;
  line-height: 1;
}
.fav_info .left .thoumb p:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 36px;
  height: 1px;
  background: #288bcf;
}
.fav_info .left .thoumb span {
  font-size: 19px;
  color: #333;
  font-weight: bold;
}
.fav_info .right {
  float: right;
  width: 792px;
}
.tab_type1 {
  display: flex;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}
.tab_type1 li {
  flex: 1;
}
.tab_type1 li a {
  display: block;
  font-size: 17px;
  color: #333;
  text-align: center;
  background: #fff;
  line-height: 62px;
}
.tab_type1 li a:hover {
  color: #288bcc;
}
.tab_type1 li:first-child a {
  border-radius: 5px 0 0 5px;
}
.tab_type1 li:last-child a {
  border-radius: 0 5px 5px 0;
}
.tab_type1 li:first-child ~ li {
  border-left: 1px solid #e4e4e4;
}
.tab_type1 li a:before {
  position: relative;
  top: 8px;
  margin: 0 8px 0 0;
}
.tab_type1 li:nth-child(1) a:before {
  content: url(../images/heart_tab.jpg);
}
.tab_type1 li:nth-child(2) a:before {
  content: url(../images/ca_tab.jpg);
}

.tab_type1 li:nth-child(3) a:before {
  content: url(../images/plane_tab.jpg);
}
.tab_type1 li:nth-child(4) a:before {
  content: url(../images/book_tab.jpg);
}
.tab_type1 li:nth-child(5) a:before {
  content: url(../images/peo_tab.jpg);
}
.info_list {
  margin: 30px 0 0;
  border-top: 2px solid #288bcc;
}
.info_list li {
  border-bottom: 1px solid #eaeaea;
  background: #fff;
}
.info_list li a {
  display: block;
  position: relative;
  line-height: 82px;
  font-size: 19px;
  color: #333;
}
.info_list li a:after {
  content: "";
  position: absolute;
  right: 30px;
  top: 50%;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border: 1px solid #ddd;
  background: url(../images/next.png) no-repeat center;
  transform: translateY(-50%);
}
.info_list li a strong {
  display: inline-block;
  width: 130px;
  font-size: 15px;
  color: #288bd6;
  padding: 0 0 0 30px;
}
.education {
  padding: 0 0 104px;
}
.education .edu_warp {
  display: flex;
  justify-content: space-between;
}
.education .edu_warp .left {
  width: 580px;
}
.education .edu_warp .left a {
  display: block;
  padding: 72px 50px;
  height: 544px;
  background: url(../images/0675869001571374324.jpg) no-repeat center / auto
    100%;
  border-radius: 4px;
  /* box-sizing: 크기가 초과되지 않고 정확하게 나옴 */
  box-sizing: border-box;
  color: #fff;
}
.education .edu_warp .left a strong {
  display: block;
  padding: 0 0 16px;
  width: 330px;
  font-size: 27px;
  line-height: 38px;
}
.education .edu_warp .left a p {
  width: 255px;
  font-size: 16px;
  line-height: 26px;
  padding: 0 0 35px;
}
.education .edu_warp .left a span {
  display: block;
  width: 140px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 17px;
}
.h3 {
  font-size: 23px;
  color: #333;
  padding: 0 0 28px;
  line-height: 1;
}
.h3 span {
  color: #288bcc;
}
.h3 em {
  color: #8a76b4;
  font-weight: bold;
}
.education .right {
  width: 580px;
}
.education .right > div {
  position: relative;
}
.education .right > div ~ div {
  margin: 53px 0 0;
}
.education .info_wrap {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;
  border-top: 2px solid #333;
}
.education .info_wrap .img {
  position: relative;
  overflow: hidden;
  width: 249px;
  height: 198px;
}
.education .info_wrap .img img {
  width: 100%;
  height: 100%;
}
.education .info_wrap .info {
  width: 296px;
}
.education .info_wrap .info a {
  overflow: hidden;
  display: block;
  font-size: 23px;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1;
  margin: 0 0 25px;
}
.education .info_wrap .info li {
  padding: 0 0 17px;
  font-size: 17px;
  color: #787878;
  line-height: 1;
}
.education .info_wrap .info li strong {
  display: inline-block;
  width: 44px;
  color: #222;
}
.education .info_wrap .info p {
  font-size: 17px;
  color: #666;
}
.trip {
  background: linear-gradient(to bottom, #5698cc, #eceff4);
  padding: 0 0 100px;
}
.trip .tit h2 {
  color: #fff;
}
.trip .tit p {
  color: #fff;
}
.trip .trip_list {
  display: flex;
  justify-content: space-between;
}
.trip .trip_list li {
  position: relative;
  width: 384px;
  height: 439px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
}
.trip .trip_list li .thoumb {
  width: 100%;
  height: 212px;
  border-radius: 5px 5px 0 0;
}
.trip .trip_list li .mark {
  position: absolute;
  right: -10px;
  top: -24px;
}
.trip .trip_list li strong {
  display: block;
  padding: 37px 0 15px;
  font-size: 24px;
  color: #333;
  line-height: 1;
}
.trip .trip_list li p {
  font-size: 17px;
  color: #666;
  line-height: 28px;
  padding: 0 0 20px;
}
.trip .trip_list li a {
  display: inline-block;
  width: 148px;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
}
.trip .trip_list li.color1 strong span {
  color: #ed2626; /*위메프 색상*/
}
.trip .trip_list li.color1 a {
  background: #ed2626;
}
.trip .trip_list li.color2 strong span {
  color: #122e80; /* 롯데관광색상 */
}
.trip .trip_list li.color2 a {
  background: #122e80;
}
.trip .trip_list li.color3 strong span {
  color: #288bcc; /* 국내여행색상*/
}
.trip .trip_list li.color3 a {
  background: #288bcc;
}
/* 일자리 정보 */
.job .job_info {
  display: flex;
}
.job .job_info li {
  border-top: 2px solid #288bcc;
  width: 285px;
  padding: 0 30px;
  margin: 0 22px 0 0;
  box-sizing: border-box;
}
.job .job_info li img {
  display: block;
  margin: 30px auto;
}
.job .job_info li strong {
  font-size: 20px;
  color: #333;
  line-height: 1;
}
.job .job_info li p {
  overflow: hidden;
  position: relative;
  width: 205px;
  font-size: 18px;
  color: #666;
  padding: 19px 0 47px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.job .job_info li p:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 36px;
  height: 1px;
  background: #288bcc;
}
.job .job_info li span {
  font-size: 12px;
  color: #55b9fe;
}
.job .left {
  float: left;
  position: relative;
}
.job .left .btn_more {
  right: 21px;
}
.job .right {
  padding: 50px 0 0;
  margin: 0 0 100px;
  float: right;
}
.job .right img {
  width: 240px;
  border: 1px solid #e4e4e4;
}
.customer {
  border: 1px solid #aec6f1;
  clear: both;
  padding: 40px;
}
.customer .h3 {
  float: left;
}
.customer .txt {
  float: left;
  padding: 0 0 0 14px;
  font-size: 15px;
  color: #666;
}
.customer .form {
  clear: both;
  display: flex;
  padding: 0 0 27px;
  font-size: 0;
  justify-content: space-between;
}
.customer .form input,
.customer .form select {
  font-size: 15px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fafafa;
}
.customer .form label {
  padding: 0 14px 0 0;
  font-size: 15px;
  color: #333;
}
.customer .form input {
  padding: 0 0 0 20px;
  box-sizing: border-box;
}
.customer .form input::-webkit-input-placeholder {
  font-size: 15px;
  color: #a9a9a9;
}
.customer .form button {
  margin: 0 0 0 5px;
  width: 130px;
  height: 50px;
  border-radius: 5px;
  background: #288bcc;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.customer .form span {
  display: inline-block;
  width: 18px;
  text-align: center;
  font-size: 15px;
  line-height: 50px;
  vertical-align: middle;
}
.customer input[type="checkbox"] + label {
  display: inline-block;
  padding: 0 20px 0 29px;
  line-height: 25px;
  background: url(../images/chk.jpg) no-repeat left;
  font-size: 16px;
  color: #333;
}
.customer input[type="checkbox"]:checked + label {
  background-image: url(../images/chk2.jpg);
}
.customer label + a {
  font-size: 14px;
  color: #8b8b8b;
  text-decoration: underline;
  vertical-align: -2px;
}
.btn_more {
  position: absolute;
  right: 0;
  top: 0;
  width: 136px;
  line-height: 38px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  font-size: 16px;
  color: #cdcdcd;
  font-weight: bold;
  text-align: center;
}
.btn_more:after {
  content: url(../images/next.png);
  margin: 0 0 0 8px;
}
.btn_func {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  font-size: 0;
}
.btn_func:before {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  width: 1px;
  background: #bfc0c2;
}
.btn_func button {
  width: 50%;
  height: 45px;
  background: none;
  font-size: 15px;
  color: #666;
  cursor: pointer;
}
.btn_func button:before {
  display: inline-block;
  transform: translate(-4px, 2px);
}
.btn_func button:first-child:before {
  content: url(../images/heart.png);
}
.btn_func button:last-child:before {
  content: url(../images/apply.png);
}
