/* 메뉴 */
header .top {
  margin: 0 auto;
  width: 1200px;
  padding: 0 0 26px;
}
header .top h1 {
  float: left;
  padding: 33px 0 0;
}
header .top h1 a:first-child {
  margin-right: 28px;
}
header .top > div {
  float: right;
}
header .control {
  float: left;
  padding: 31px 24px 0 0;
}
header .control h2 {
  float: left;
  font-size: 16px;
  color: #333;
  font-weight: normal;
  line-height: 36px;
}
header .control ul {
  float: left;
  padding: 0 0 0 9px;
}
header .control li {
  float: left;
  padding: 0 0 0 4px;
}
header .control li button[class] {
  padding: 0;
}
header .control li button {
  font-size: 14px;
  color: #288bcc;
  background: #fff;
  border: 1px solid #e4e4e4;
  padding: 0 16px;
  /* min-width를 높이와 같게 준다 */
  min-width: 36px;
  height: 36px;
  border-radius: 36px;
  box-sizing: border-box;
}
header .sns {
  float: left;
  position: relative;
  padding: 27px 0 0 7px;
}
/* sns전 구분선 만들기 */
header .sns:before {
  content: "";
  position: absolute;
  left: 0;
  top: 35px;
  width: 1px;
  height: 30px;
  background: #e3e3e3;
}
header .sns li {
  float: left;
  padding: 0 0 0 12px;
}
header .sns li img {
  width: 46px;
}
header .btm {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
header .btm > div {
  margin: 0 auto;
  width: 1200px;
}
header .btm .lnb {
  float: left;
}
header .btm .lnb li {
  float: left;
}
/* 만약 .lnb의 li로 하게되면 선택의 폭이 줄어들게 됨 */
header .btm .lnb a {
  display: block;
  line-height: 59px;
  padding: 0 40px;
  font-size: 22px;
  color: #333;
}
header .btm .spot {
  float: right;
  font-size: 0;
}
header .btm .spot * {
  vertical-align: middle;
}
header .btm .spot a {
  display: inline-block;
  position: relative;
  padding: 0 25px;
  line-height: 59px;
  font-size: 15px;
  color: #666;
}
header .btm .spot a ~ a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 10px;
  background: #e3e3e3;
  transform: translateY(-50%);
}
header .btm .spot button {
  width: 59px;
  height: 59px;
  background: none;
  font-size: 25px;
  color: #0066b3;
}
/* 슬라이드 */
.visual img {
  width: 100%;
}
.visual .controls {
  position: absolute;
  left: 50%;
  z-index: 30;
  padding: 0 32px;
  transform: translateX(-50%);
  bottom: 25px;
}
.visual .controls > button {
  position: absolute;
  top: 0;
  width: 15px;
  height: 25px;
  cursor: pointer;
}
.visual .controls > button.prev {
  left: 0;
  background: url(../images/sBtn_prev3.png);
}
.visual .controls > button.next {
  right: 0;
  background: url(../images/sBtn_next3.png);
}
.visual .paging {
  line-height: 25px;
}
.visual .paging span {
  margin: 0 5px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #d9d9d9;
}
.visual .paging span.swiper-pagination-bullet-active {
  background: #288bcc;
  width: 30px;
  border-radius: 14px;
  transition: all 0.5s;
}
/* 콘텐츠 공통디자인 */
/* block : 금융서비스 공통부분 */
.block > div {
  margin: 0 auto;
  padding: 100px 0 0;
  width: 1200px;
}
.block .tit {
  text-align: center;
}
.block .tit h2 {
  padding: 0 0 28px;
  font-size: 38px;
  color: #333;
  /* 줄간격 초기화 */
  line-height: 1;
}
.block .tit p {
  font-size: 21px;
  color: #666;
  line-height: 1;
  padding: 0 0 40px;
}
/* 금융 서비스 */
.service {
  padding: 0 0 147px;
}
.service .banner > div {
  width: 580px;
  color: #fff;
}
.service .banner .left {
  float: left;
  background: url(../images/add1.jpg) no-repeat left top;
}
.service .banner .left div {
  float: right;
  background: linear-gradient(to right, #3194d5, #4fb2f6);
}
.service .banner .right {
  float: right;
  background: url(../images/add2.jpg) no-repeat right top;
}
.service .banner .right div {
  background: linear-gradient(to right, #334da4, #3c62b3);
}
.service .banner div div {
  padding: 37px 0 0;
  width: 290px;
  height: 280px;
  box-sizing: border-box;
  text-align: center;
}
.service .banner h3 {
  font-size: 24px;
  line-height: 31px;
}
.service .banner p {
  padding: 12px 0 15px;
  font-size: 13px;
  line-height: 24px;
}
.service .banner a {
  display: block;
  margin: 0 auto;
  width: 140px;
  /* 모서리부분을 정사각혁을로 그렸을때의 px길이 */
  border-radius: 7px;
  line-height: 40px;
  color: #fff;
  background: #064ca2;
  font-size: 13px;
}
.service .btm article {
  position: relative;
  margin: 38px 0 0;
  width: 580px;
}
.service .btm h3 {
  padding: 0 0 28px;
  font-size: 26px;
  color: #333;
}
.service .event {
  float: left;
}
.service .recom {
  float: right;
}
.service .event img {
  width: 100%;
}
.service .card_info > div {
  float: left;
}
.service .card_info .card {
  position: relative;
  font-size: 0;
}
.service .card_info .info {
  padding: 0 0 0 35px;
  width: 295px;
}
.service .card_info .info h4 {
  font-size: 26px;
  color: #333;
  line-height: 1;
}
.service .card_info .info p {
  position: relative;
  padding: 36px 0 0;
  font-size: 18px;
  color: #666;
  letter-spacing: -0.5px;
}
.service .card_info .info p:before {
  content: "";
  position: absolute;
  left: 0;
  top: 21px;
  width: 36px;
  height: 2px;
  background: #288bcc;
}
.service .slide2 {
  border-top: 2px solid #333;
  padding: 20px 0 0;
  height: 224px;
  box-sizing: border-box;
}
.service .slide2 .control {
  position: absolute;
  left: 256px;
  bottom: 0;
  z-index: 100;
}
.service .slide2 .control button {
  width: 75px;
  height: 35px;
  cursor: pointer;
}
.service .slide2 .control button ~ button {
  border-left: 1px solid #ddd;
}
.service .slide2 .control button.prev {
  background: url(../images/sArrow_prev.png) no-repeat center;
}
.service .slide2 .control button.next {
  background: url(../images/sArrow_next.png) no-repeat center;
}
/* 관심정보 */
.fav_info {
  background: #f9f9f9;
  padding: 0 0 100px;
}
.fav_info .left {
  width: 385px;
  float: left;
}
.fav_info .left > a {
  display: block;
  height: 66px;
  background: #3f69b8;
  border-radius: 5px;
  font-size: 19px;
  color: #fff;
  font-weight: bold;
  line-height: 66px;
  text-align: center;
}
.fav_info .left > a span {
  color: #ffc820;
}
.fav_info .left .thoumb {
  padding: 30px 0 0;
}
.fav_info .left .thoumb img {
  width: 100%;
}
.fav_info .left .thoumb p {
  position: relative;
  padding: 33px 0 22px;
  margin: 0 0 20px;
  font-size: 15px;
  color: #288cf2;
  line-height: 1;
}
.fav_info .left .thoumb p:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 36px;
  height: 1px;
  background: #288bcf;
}
.fav_info .left .thoumb span {
  font-size: 19px;
  color: #333;
  font-weight: bold;
}
.fav_info .right {
  float: right;
  width: 792px;
}
.tab_type1 {
  display: flex;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}
.tab_type1 li {
  flex: 1;
}
.tab_type1 li a {
  display: block;
  font-size: 17px;
  color: #333;
  text-align: center;
  background: #fff;
  line-height: 62px;
}
.tab_type1 li a:hover {
  color: #288bcc;
}
.tab_type1 li:first-child a {
  border-radius: 5px 0 0 5px;
}
.tab_type1 li:last-child a {
  border-radius: 0 5px 5px 0;
}
.tab_type1 li:first-child ~ li {
  border-left: 1px solid #e4e4e4;
}
.tab_type1 li a:before {
  position: relative;
  top: 8px;
  margin: 0 8px 0 0;
}
.tab_type1 li:nth-child(1) a:before {
  content: url(../images/heart_tab.jpg);
}
.tab_type1 li:nth-child(2) a:before {
  content: url(../images/ca_tab.jpg);
}

.tab_type1 li:nth-child(3) a:before {
  content: url(../images/plane_tab.jpg);
}
.tab_type1 li:nth-child(4) a:before {
  content: url(../images/book_tab.jpg);
}
.tab_type1 li:nth-child(5) a:before {
  content: url(../images/peo_tab.jpg);
}
.info_list {
  margin: 30px 0 0;
  border-top: 2px solid #288bcc;
}
.info_list li {
  border-bottom: 1px solid #eaeaea;
  background: #fff;
}
.info_list li a {
  display: block;
  position: relative;
  line-height: 82px;
  font-size: 19px;
  color: #333;
}
.info_list li a:after {
  content: "";
  position: absolute;
  right: 30px;
  top: 50%;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border: 1px solid #ddd;
  background: url(../images/next.png) no-repeat center;
  transform: translateY(-50%);
}
.info_list li a strong {
  display: inline-block;
  width: 130px;
  font-size: 15px;
  color: #288bd6;
  padding: 0 0 0 30px;
}
.education .edu_warp {
  display: flex;
  justify-content: space-between;
}
.education .edu_warp .left {
  width: 580px;
}
.education .edu_warp .left a {
  display: block;
  padding: 72px 50px;
  height: 544px;
  background: url(../images/0675869001571374324.jpg) no-repeat center / auto
    100%;
  border-radius: 4px;
  /* box-sizing: 크기가 초과되지 않고 정확하게 나옴 */
  box-sizing: border-box;
  color: #fff;
}
.education .edu_warp .left a strong {
  display: block;
  padding: 0 0 16px;
  width: 330px;
  font-size: 27px;
  line-height: 38px;
}
.education .edu_warp .left a p {
  width: 255px;
  font-size: 16px;
  line-height: 26px;
  padding: 0 0 35px;
}
.education .edu_warp .left a span {
  display: block;
  width: 140px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 17px;
}
.education h3 {
  font-size: 23px;
  color: #333;
  padding: 0 0 28px;
  line-height: 1;
}
.education h3 span {
  color: #288bcc;
}
.education .right {
  width: 580px;
}
.education .right > div {
  position: relative;
}
.education .right > div ~ div {
  margin: 55px 0 0;
}
.education .info_wrap {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;
  border-top: 2px solid #333;
}
.education .info_wrap .img {
  position: relative;
  overflow: hidden;
  width: 249px;
  height: 198px;
}
.education .info_wrap .img img {
  width: 100%;
  height: 100%;
}
.education .info_wrap .info {
  width: 296px;
}
.education .info_wrap .info a {
  overflow: hidden;
  display: block;
  font-size: 23px;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1;
  margin: 0 0 25px;
}
.education .info_wrap .info li {
  padding: 0 0 17px;
  font-size: 17px;
  color: #787878;
  line-height: 1;
}
.education .info_wrap .info li strong {
  display: inline-block;
  width: 44px;
  color: #222;
}
.education .info_wrap .info p {
  font-size: 17px;
  color: #666;
}
.btn_more {
  position: absolute;
  right: 0;
  top: 0;
  width: 136px;
  line-height: 38px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  font-size: 16px;
  color: #cdcdcd;
  font-weight: bold;
  text-align: center;
}
.btn_more:after {
  content: url(../images/next.png);
  margin: 0 0 0 8px;
}
.btn_func {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  font-size: 0;
}
.btn_func:before {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  width: 1px;
  background: #bfc0c2;
}
.btn_func button {
  width: 50%;
  height: 45px;
  background: none;
  font-size: 15px;
  color: #666;
  cursor: pointer;
}
.btn_func button:before {
  display: inline-block;
  transform: translate(-4px, 2px);
}
.btn_func button:first-child:before {
  content: url(../images/heart.png);
}
.btn_func button:last-child:before {
  content: url(../images/apply.png);
}
