.join_wrap {
  margin: 0 auto;
  padding: 86px 0;
  width: 1000px;
}

.join_wrap .step {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0 10px;
  height: 242px;
  border: 1px solid #bdbdbd;
}
.join_wrap .step li {
  width: 100px;
  padding: 119px 0 0;
  color: 12px;
  color: #666;
  font-weight: bold;
  text-align: center;
  background: url(../images/bg_tab01.png) no-repeat center top;
}
.join_wrap .step li:nth-child(2) {
  background: url(../images/bg_tab02.jpg) no-repeat center top;
}
.join_wrap .step li:nth-child(3) {
  background: url(../images/bg_tab03.png) no-repeat center top;
}
.join_wrap .step div {
  font-size: 18px;
  color: #288bcc;
  font-weight: normal;
}
.join_wrap .agree {
  padding: 25px 30px;
  overflow: auto;
  height: 300px;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  font-size: 16px;
  color: #666;
}
.join_wrap .agree h4 {
  padding: 0 0 20px;
  font-size: 17px;
  color: #444;
}
.join_wrap .agree h4 ~ h4 {
  padding-top: 50px;
}
.join_wrap .agree p {
  line-height: 28px;
}
.join_wrap .agree > ol {
  counter-reset: num;
}
.join_wrap .agree > ol > li {
  padding: 0 0 0 20px;
  text-indent: -20px;
}
.join_wrap .agree > ol > li:before {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  margin: 0 4px 0 0;
  width: 15px;
  line-height: 15px;
  text-align: center;
  font-size: 10px;
  border: 1px solid #666;
  border-radius: 100%;
  transform: translateY(-3px);
  text-indent: 0;
}
.join_wrap .agree > ol > li > ol {
  counter-reset: num2;
  padding: 0 0 0 20px;
}
.join_wrap .agree > ol > li > ol > li:before {
  content: counter(num2) ". ";
  counter-increment: num2;
}
.join_wrap .check_total {
  margin: 0 0 50px;
  text-align: center;
  line-height: 105px;
  border-bottom: 1px solid #b5b5b5;
}
.align_center {
  text-align: center;
}
.btn_type1 {
  display: inline-block;
  width: 160px;
  background: #288bcc;
  border-radius: 6px;
  line-height: 60px;
  color: #fff;
  font-size: 15px;
}
.align_both {
  display: flex;
  justify-content: space-between;
  padding: 45px 0 20px;
}
.align_both .h3 {
  padding: 0;
}
.h2 {
  line-height: 1;
  font-size: 32px;
  color: #333;
}
.h3 {
  padding: 45px 0 20px;
  font-size: 19px;
  color: #333;
}
